/* line 3, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar a {
  color: #fff;
  text-decoration: none;
}
/* line 8, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social {
  position: fixed;
  top: 30%;
  margin-left: 0px;
}
/* line 14, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul.ns__social_list {
  margin-left: 15px;
}
/* line 18, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
/* line 27, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
}
/* line 34, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul li:hover a {
  color: #000;
}
/* line 38, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul li:hover i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 53, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul li {
  display: block;
  margin: 5px;
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 68, ../sass/_ns-social-desktop.scss */
.nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul li i {
  margin-left: 10px;
  padding: 9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

@media only screen and (max-width: 480px) {
  /* line 3, ../sass/_ns-social-mobile.scss */
  .nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social {
    position: fixed;
    top: 30%;
    margin-left: 0px;
    z-index: 9999;
  }
  /* line 9, ../sass/_ns-social-mobile.scss */
  .nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul.ns__social_list {
    margin-left: 15px;
  }
  /* line 14, ../sass/_ns-social-mobile.scss */
  .nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul li {
    display: block;
    margin: 5px;
    width: 290px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  /* line 29, ../sass/_ns-social-mobile.scss */
  .nuno-sarmento-socialicons-nav__bar .tend_tdsocialicons_social ul li i {
    margin-left: 10px;
    padding: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    font-size: 16px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
